<span class="input-group-addon">
  <button md-icon-button class="search"><i class="fa fa-search"></i></button>
</span>
<input type="text" class="form-control" [formControl]="searchControl" placeholder="Search" id="search-input">
<span *ngIf=selecting class="input-group-addon">
  <button md-icon-button class="delete" id="delete" 
  (click)="onDeleteClick()">
  <i class="fa fa-trash"  ></i></button>
</span>
<span class="input-group-addon">
  <button md-icon-button class="sort" id="sort"
  (click)="toggleSort()">
  <i *ngIf="sort=='asc'" class="fa fa-sort-alpha-asc" ></i>
  <i *ngIf="sort=='desc'" class="fa fa-sort-alpha-desc" ></i>
  </button>
</span>
<span class="input-group-addon">
  <button md-icon-button (click)="toggleFilterMenu()" class="filter" id="filter">
    <i class="fa fa-filter"></i>
  </button>
  <div *ngIf="showFilterMenu" class="filter-menu">
    <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="setFilter(filterForm.value)">
      <md-select formControlName="gender" placeholder="Gender" name="gender" [ngModel]="filterGender">
        <md-option [value]="">All</md-option>
        <md-option *ngFor="let gender of genders" [value]="gender">
          {{gender}}
        </md-option>
      </md-select>
      <md-select formControlName="location" placeholder="Location" name="location" [ngModel]="filterLocation">
        <md-option [value]="">All</md-option>
        <md-option *ngFor="let location of locations" [value]="location.locationId">
          {{location.city}}
        </md-option>
      </md-select>
      <div class="button-area">
        <button type="submit" class="filter-button" md-button>Filter</button>
        <button type="button" class="clear-button" md-button
        (click)="clearFilter()">Clear</button>
      </div>
    </form>
  </div>
</span>
<div class="badge-container">
<span class="badge">
  {{numberOfEmployees? numberOfEmployees : '0'}}
</span>
</div>
<app-delete-dialog 
[pop]=pop
(removePopUp)="onRemovePopUp()">
</app-delete-dialog>