:host {
  width: 100%;
  background-color: #C590C1;
  margin: 0;
  padding: 0;
  display: table;
  height: 48px;
}

#search-input {
  color: white;
  background-color: #C590C1;
  border: 0;
  margin: 0;
  height: 100%;
  box-shadow: unset;
}

:host .input-group-addon {
  background-color: #C590C1;
  border: none;
  height: 100%;
  padding: 0;
}

:host button {
  height: 48px;
  width: 48px;
  color: white;
}

:host .filter-menu {
  background-color: white;
  padding: 12px;
  position: absolute;
  z-index: 2;
  box-shadow: 5px 5px 10px #999999;
  width: auto;
  display: block;
}

:host md-select {
  margin: 8px 0;
  float: left;
  width: 100%;
}

:host .button-area {
  display: table;
}
:host .filter-form button {
  display: table-cell;
  color: gray;
  padding: 0;
}

:host .badge-container {
  text-align: center;
  vertical-align: middle;
  height: 48px;
  display: table-cell;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}