.fab-add {
  position: fixed;
  left: 25%;
  top: 85vh;
  z-index: 2;
}

.cards-container {
  height: calc(100vh - 112px);
  overflow: auto;
}

:host .not-found {
  color: lightslategrey;
  padding-top: 30px;
  text-align: center;
}

app-emp-card {
  background-color: white; 
}