
<button (click)="onAddNewEmployee()" md-mini-fab class="fab-add">
  <md-icon>+</md-icon>
</button>
<app-search-bar [selecting]="selecting"></app-search-bar>
<div class="cards-container">
  <app-emp-card
    *ngFor="let employee of employees"
    [employee]="employee"
    (click)="onSelectingEmployee(employee.employeeId)"
    [class.selected]="employee.employeeId === selectedEmployee"
  ></app-emp-card>
<p class="not-found" *ngIf="employees.length == 0">
  We couldn't find what you were looking for
</p>
</div>
