/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: calc(100vh - 64px);
}

.avatar {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #C590C1;
}