:host {
  padding: 0;
  margin-top: -12px;
}

:host i {
  color: white;
}

:host .bg-color {
  background-color: #C590C1;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  position: absolute;
}

:host md-tab-group {
  padding: 0;
  margin: 0;
  top: 0;
}

/deep/ .mat-tab-label {
  min-width: 16.6% !important;
}