<div>
<div class="bg-color"></div>
<md-tab-group flex>
  <md-tab flex>
    <ng-template md-tab-label><i class="fa fa-user-o fa-1x"></i></ng-template>
    <app-emp-detail></app-emp-detail>
  </md-tab>
  <md-tab flex>
    <ng-template md-tab-label><i class="fa fa-history fa-1x"></i></ng-template>
  </md-tab>
  <md-tab flex>
    <ng-template md-tab-label><i class="fa fa-clone fa-1x"></i></ng-template>
  </md-tab>
  <md-tab flex>
    <ng-template md-tab-label><i class="fa fa-male fa-1x"></i><i class="fa fa-female fa-1x"></i></ng-template>
  </md-tab>
  <md-tab flex>
    <ng-template md-tab-label><i class="fa fa-home fa-1x"></i></ng-template>
  </md-tab>
  <md-tab flex>
    <ng-template md-tab-label><i class="fa fa-map-marker fa-1x"></i></ng-template>
  </md-tab>
</md-tab-group>
</div>
