:host {
  background-color: grey;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin: 0;
  padding: 0;
  height: 100%;
}

:host .details {
  padding: 0;
}

:host .left {
  width: 30%;
  padding: 0;
  margin: 0;
  border-right: 1px solid purple;
  float: left;
}

:host .right {
  width: 70%;
  padding: 0;
  margin: 0;
  float: left;
}