<app-header></app-header>
  <div class="row">
    <div class="cards col-md-4 no-float left">
      <app-emp-card-nav></app-emp-card-nav>
    </div>
    <div class="details col-md-8 no-float right">
      <app-emp-detail-nav></app-emp-detail-nav>
    </div>
</div>
