<form [formGroup]="form" (ngSubmit)="save(form.value)">
  <div class="form-container">
      <div class="form">
      <input type="hidden" formControlName="employeeId" name="employeeId" [ngModel]="employee?.employeeId">
      <md-input-container>
        <input mdInput formControlName="firstName" name="firstName" placeholder="First Name" [ngModel]="employee?.firstName">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="lastName" name="lastName" placeholder="Last Name" [ngModel]="employee?.lastName">
      </md-input-container>
      <md-select formControlName="gender" placeholder="Gender" name="gender" [ngModel]="employee?.gender">
        <md-option *ngFor="let gender of genders" [value]="gender">
          {{gender}}
        </md-option>
      </md-select>
      <md-input-container>
        <input mdInput formControlName="dateOfBirth" name="dateOfBirth" type="date" placeholder="Date of Birth" [ngModel]="employee?.dateOfBirth">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="nationality" name="nationality" placeholder="Nationality" [ngModel]="employee?.nationality">
      </md-input-container>
      <md-select formControlName="maritalStatus" placeholder="Marital Status" name="maritalStatus" [ngModel]="employee?.maritalStatus">
        <md-option *ngFor="let mstat of maritalStatus" [value]="mstat">
          {{mstat}}
        </md-option>
      </md-select>
      <md-input-container>
        <input mdInput formControlName="phone" name="phone" placeholder="Phone" [ngModel]="employee?.phone">
      </md-input-container>
      <md-select formControlName="location" placeholder="Location" name="location" [ngModel]="employee?.location?.locationId">
        <md-option *ngFor="let loc of locations" [value]="loc.locationId">
          {{loc.city}}
        </md-option>
      </md-select>
    </div>
    <div class="form">
      <md-input-container>
        <input mdInput formControlName="subdivision" name="subdivision" placeholder="Sub Division" [ngModel]="employee?.subdivision">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="status" name="status" placeholder="Status" [ngModel]="employee?.status">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="suspendDate" name="suspendDate" type="date" placeholder="Suspend Date" [ngModel]="employee?.suspendDate">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="hiredDate" name="hiredDate" type="date" placeholder="Hired Date" [ngModel]="employee?.hiredDate">
      </md-input-container>
      <md-select formControlName="grade" placeholder="grade" name="grade" [ngModel]="employee?.grade">
        <md-option *ngFor="let grade of grades" [value]="grade">
          {{grade}}
        </md-option>
      </md-select>
      <md-select formControlName="division" placeholder="division" name="division" [ngModel]="employee?.division">
        <md-option *ngFor="let division of divisions" [value]="division">
          {{division}}
        </md-option>
      </md-select>
      <md-input-container>
        <input mdInput formControlName="email" name="email" placeholder="Email" [ngModel]="employee?.email">
      </md-input-container>
    </div>
    <div class="picture-area">
      <div image-directive class="profile-picture">
        <img md-card-avatar class="avatar" [src]="avatar? avatar : defaultAvatar">
        <div class="add-photo">
          <i class="fa fa-camera fa-2x"
          (click)="imageInput.click()"></i>
          <input #imageInput formControlName="avatar" class="input-image" type="file"
          accept="image/*"
          (change)="addImage($event)">
        </div>
      </div>
    </div>
  </div>
  <div class="option-nav">
    <button md-raised-button type="submit" name="submit" class="submit"[disabled]="!form.valid">{{employee.employeeId ? 'Edit' : 'Save'}}</button>
    <button md-raised-button type="button" name="cancel" class="cancel" (click)="restoreForm()">Cancel</button>
  </div>
</form>
