:host form{
  padding: 0;
  width: 100%;
  float: left;
}

:host md-input-container {
  width: 100%;
}

:host .form {
  padding: 24px;
  width: 40%;
  float: left;
}

:host .form-container {
  height: calc(100vh - 113px - 48px);
  overflow: auto;
}

:host .profile-picture {
  width: 128px;
  height: 128px;
  position: relative;
}

:host .avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:host .submit {
  background-color: #FF9800;
}

:host .profile-picture .add-photo {
  position: absolute;
  top: 10%;
  right: 10%;
  display: none;
  cursor: pointer;
}

:host .picture-area {
  float: left;
  padding: 12px;
  width: 20%;
}

:host .is-image-hovering .add-photo {
  display: block;
}

:host .input-image {
  display: none;
}

:host .option-nav button {
  margin-left: 8px;
}

:host button {
  height: 64px;
  width: 64px;
}

:host .option-nav {
  background-color: #B15CAA;
  width: 100%;
  padding: 6px;
  float: left;
}

:host .option-nav button {
  float: right;
  height: 36px;
}

:host md-select {
  width: 100%;
  height: 53px;
  padding-top: 10px;
}