:host .bg-dialog {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: calc(100vh - 64px);
  background-color: rgba(0, 0, 0, 0.6);
}

:host .dialog {
  position: absolute;
  display: inline-block;
  bottom: 50%;
  left: 40%;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  border: 5px solid lightgray;
  text-align: center;
}

:host p {
  font-weight: bold;
}
:host .button {
  position: relative;
  display: inline-block;
}

:host .button-OK {
  background-color: #FF9800;
}

:host button {
  margin: 0 5px;
  float: left;
}