<div *ngIf=pop class="bg-dialog">
  <div class="dialog">
    <p>
    Are you sure you want to delete?  
    </p>
    <div class="button">
      <button class="button-OK" md-raised-button (click)="onOkClick()">OK</button>
      <button class="button-cancel" md-raised-button (click)="onCancelClick()">Cancel</button>
    </div>
  </div>
</div>