:host md-toolbar  {
  padding: 0;
  background-color: #B15CAA;
}

:host .mat-card {
  box-shadow: unset;
  padding: 0;
  background-color: #B15CAA;
}

:host .avatar{
  width: 48px;
  height: 48px;
}

:host .user-profile {
  padding-top: 16px;
}

:host md-card-title, md-card-subtitle {
  color: white;
}

:host .spacer {
  flex: 1 1 auto;
}

:host button {
  height: 48px;
  width: 48px;
  color: white;
}