<md-toolbar>
  <button md-icon-button class="menu"><i class="fa fa-bars fa-1x"></i></button>
  <md-card>
    <md-card-header class="user-profile">
        <img md-card-avatar class="avatar" [src]="defaultAvatar">
        <md-card-title>Relung Satria Dirgantara</md-card-title>
        <md-card-subtitle>SE - JP</md-card-subtitle>
    </md-card-header>
  </md-card>
  <span class="spacer"></span>
  <button md-icon-button class="settings"><i class="fa fa-cog"></i></button>
  <button md-icon-button class="logout"><i class="fa fa-power-off"></i></button>
</md-toolbar>
