<md-card class="card" (click)="onSelect()">
  <md-card-header >
    <img md-card-avatar class="avatar" [src]="employee.avatar">
    <div class="card-left">
      <md-card-title>
        {{employee.firstName}} {{employee.lastName}}
      </md-card-title>
      <md-card-subtitle>
        <p>{{employee.grade}}, {{employee.division}}</p>
        <p>{{employee.location.city}}, {{employee.phone}}</p>
      </md-card-subtitle>
    </div>
    <div class="card-right">
      <md-card-title>
        {{employee.hiredDate}}
      </md-card-title>
      <md-card-subtitle class="arrow">
        <i class="fa fa-arrow-right"></i>
      </md-card-subtitle>
    </div>
  </md-card-header>
</md-card>