:host md-card {
  margin-bottom: 2px;
  padding: 0;
  height: auto;
  background-color: inherit;
}

:host md-card-header {
  padding: 8px;
  height: 100%;
}

:host md-card-title {
  margin-bottom: 4px;
  width: 100%;
}

:host md-card-subtitle {
  margin-bottom: 0px;
  width: 100%;
}

:host .avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

:host p {
  margin-bottom: -6px; 
}

:host .spacer {
  flex: 1 1 auto;
}

:host .card-left {
  float: left; width: 60%;
}

:host .card-right {
  float: right;
}

:host .arrow {
  text-align: right;
  display: none;
}

:host(.selected) .arrow {
  display: block;
}

:host(.selected) {
  background-color: #efd5ed;
}
